@model Inka.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationLevel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licence.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licence.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniversityDepartment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityDepartment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
